
{{#each timelines}}



  <aside>
    <span class="fa-stack fa-lg timeIcon">
      <i class="fa fa-circle fa-stack-2x outer-ring"></i>
      <i class="fa fa-circle fa-stack-2x inner-ring"></i>
      <i class="fa {{icon}} fa-stack-1x fa-inverse"></i>
    </span>

    
    <div class="timeDate">
      <h4 class="date">{{clockDate}}</h4>
      <h4 class="hour">{{clockHour}}</h4>
    </div>
  </aside>


<section>

  <div class="rightStuff">
    <div class="arrow-left"></div>
    <figure>
      <h3>{{title}}</h3>
      <p>{{content}}</p>
    </figure>
  </div>

  </section>

{{/each}}


      





     


